<%= render 'info', user: @user %>

<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>

  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= image_tag @user.get_profile_image(100,100) %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>

    </tr>
    <%end%>
  </tbody>
</table>

<p><%= link_to "user-edit",edit_user_path(@user.id)  %></p>